@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --main-color: #f6fafc;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.dash-cards {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-column-gap: 5rem;
  margin-left: 300px;
  padding: 20px;
  background: linear-gradient(135deg, #89cff0, #fff);
}
.card-single {
  background: #fff;
  border-radius: 7px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  /* background-color: cadetblue; */
}

.card-body {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}
.card-body:hover {
  /* background-color: rgb(243, 155, 199); */
  transition: transform 300ms, box-shadow 300ms;
  position: relative;
}
.sidebar a span:last-child {
  padding-left: 0rem 0.6rem;
  /* waa  qoraalada */
}
main {
  margin-top: 3px;
  min-height: 90vh;
  padding: 1rem;
  margin-bottom: 500px;
}

.dash-cards {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-column-gap: 5rem;
  /* margin-left: 300px; */
  padding: 20px;
  background: linear-gradient(135deg, #f3f4f5, #fff);
}
.card-single {
  background: #fff;
  border-radius: 7px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  /*transition: background-color .5s, box-shadow .5s, margin-left .5s;
  */ /*background-color: cadetblue;
   */
}

.card-body {
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
}
.card-body:hover {
  /*background-color: rgb(236, 230, 233);
  */
  transition: transform 300ms, box-shadow 300ms;
  position: relative;
  transition: background-color 0.9s, box-shadow 0.7s, margin-left 0.7s;
}
.brand {
  color: black;
  /* background-color: red; */
}
.card-body span {
  font-size: 1.7rem;
  color: #777;
  padding-right: 1rem;
}
.card-body h5 {
  color: var(--text-grey);
  font-size: 1.5rem;
  /* waa magacyada   */
}

.card-body h4 {
  color: var(--color-dark);
  font-size: 1.1rem;
  margin-top: 2rem;
  /* waa tirada 10++  */
}

.card-footer {
  padding: 0.2rem 1rem;
  background: #f9fafc;
  color: var(--main-color);
  /* waa qaybta view all ka  */
}

.cards {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3px;
}
.card .image {
  margin-bottom: 30px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 #0867c5;
}

/* img {
    border-radius: 5px 5px 0 0;
  } */
.not-found {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  background: linear-gradient(135deg, #89cff0, rgb(238, 237, 237));
  margin-left: 300px;
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 1px;
}

.container form .hospital-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .hospital-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 -20px);
}

.hospital-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.hospital-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 1px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.hospital-details .input-box input:focus,
.hospital-details .input-box input:valid {
  border-color: var(--text-grey);
}

form .button {
  height: 20%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-weight: 500;
  margin-top: 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #89cff0, rgb(141, 137, 137));
}

form .button:hover {
  background: linear-gradient(-135deg, #89cff0, rgb(141, 137, 137));
}

/* Responsive ka form ka add ka */

@media (max-width: 584px) {
  .container {
    max-width: 100px;
  }
  form .hospital-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  .container form .hospital-details {
    max-width: 300px;
    overflow-y: scroll;
  }
  .hospital-details::-webkit-scrollbar {
    width: 0;
  }
}

/* Hospital section  */
/* .ab {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.containerrr-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

.containerrr-card .boxx {
  position: relative;
  width: 350px;
  padding: 40px;
  background: rgb(255, 255, 255);
  border: 0.5px solid;
  /*box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  */
  border-radius: 0.001px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.containerrr-card .boxx:before {
  content: "";
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
  /* pointer-events: none; */
  transform: scale(1.1);
}

.containerrr-card .boxx .iconn {
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}

.containerrr-card .boxx:nth-child(1) .iconn {
  box-shadow: 0 0 0 #0212f7;
  background: #2543ec;
}

.containerrr-card .boxx:nth-child(1):hover .iconn {
  box-shadow: 0 0 0 400px #043aec;
}

.containerrr-card .boxx:nth-child(2) .iconn {
  box-shadow: 0 0 0 green;
  background: green;
}

.containerrr-card .boxx:nth-child(2):hover .iconn {
  box-shadow: 0 0 0 400px green;
}

.containerrr-card .boxx:nth-child(3) .iconn {
  box-shadow: 0 0 0 blue;
  background: blue;
}

.containerrr-card .boxx:nth-child(3):hover .iconn {
  box-shadow: 0 0 0 400px rgb(0, 0, 255);
}
.containerrr-card .boxx .contentt {
  position: relative;
  z-index: 1;
  transition: 0.5s;
}
.containerrr-card .boxx:hover .contentt {
  color: #fff;
}

.containerrr-card .boxx .contentt h3 {
  font-size: 20px;
  margin: 10px 0;
  padding: 0px;
}

.containerrr-card .boxx .contentt p {
  margin: 0;
  padding: 0;
}

.aaa {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  font-weight: 50;
  margin-top: 20px;
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
  border: 1px solid;
}

/* doctor section  */

.y {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.card-img-top {
  height: 200px;
  width: 100%;
}
.card {
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  border: 1px solid;
  margin-left: 345px;
}

/* .cardCenter{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 345px;
  padding: 10px;
} */
.hello {
  display: grid;
  grid-template-columns: repeat(2, auto);
  /* grid-gap: .2px; */
  margin-top: 90px;
  color: #000;
  align-items: center;
}
.card:hover {
  color: #fff !important;
}
.card::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  background: var(--main-colorr);
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
}
.img-fluid img {
  width: "30%";
  height: "200%";
}
.card:hover::before {
  left: 0%;
}

.rga {
  background-color: hotpink;
  margin-right: 30px;
}

/* Doctor page  */

.j {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  user-select: none;
}
.docAll {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5));
  background: #ecf0f3;
}
.fa {
  color: #33ccff;
}
.docContainer {
  width: 90%;
  height: 92vh;
  border-radius: 8px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}
/* Top CSS */

.docContainer .docNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 25px;
  margin-top: 0.5rem;
}

.docContainer .docNavbar .hosLogo {
  display: flex;
  align-items: center;
}

.docContainer .docNavbar .hosLogo .logoname {
  font-size: 18px;
  margin-left: 0.5em;
  text-shadow: 1px 1px 1px rgba(16, 16, 16, 0.1),
    1px 2px 1px rgba(16, 16, 16, 0.1), 1px 3px 1px rgba(16, 16, 16, 0.1),
    1px 4px 1px rgba(16, 16, 16, 0.1), 1px 5px 1px rgba(16, 16, 16, 0.1);
}

.docContainer .docNavbar .hosLogo img {
  animation: rotate 7s linear infinite;
  width: 25%;
  border-radius: 50%;
}
@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
}

.docContainer .docNavbar .time-period {
  display: flex;
  justify-content: center;
  align-items: center;
}

.docContainer .docNavbar .time-period .select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
  border-radius: 8px;
  box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px #ffffff;
}

.docContainer .docNavbar .time-period .select div {
  margin: 8px;
}

.docContainer .docNavbar .time-period .select div .fa {
  margin: 0 5px;
}

.docContainer .docNavbar .time-period .select span {
  font-weight: 700;
  font-size: 16px;
}

.docContainer .docNavbar .time-period .docPatient select {
  outline: none;
  border: none;
  padding: 6px 10px;
  background: transparent;
  border-radius: 8px;
  box-shadow: inset 3px 3px 3px #a7a7a7, inset -3px -3px 3px #ffffff;
}

/* TOP CSS END  */

/* MIN CSS  */

.container-body {
  display: grid;
  grid-template-columns: 18% auto;
}

.container-body .docSidebar {
  margin: 10px 0 0 20px;
  border-radius: 14px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.container-body .docMain-body .docCards {
  display: grid;
  grid-template-rows: 120px auto;
  grid-gap: 20px;
  padding: 0 20px;
}

.container-body .docMain-body .docCards .docRow .col {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: inset 13px 13px 20px #cbced1, inset -13px -13px 20px #ffffff;
  background: linear-gradient(135deg, #a2e5fc, rgb(255, 254, 254), yellow);
}

.container-body .docMain-body .docCards .docRow .col .docCard {
  display: flex;
  align-items: center;
  position: relative;
}

/* ROW-1 CSS */

.container-body .docMain-body .docCards .row-1 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}

.container-body .docMain-body .docCards .row-1 .three {
  box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px #ffffff;
}

.container-body .docMain-body .docCards .row-1 .col .docCard .logoo {
  padding: 20px 24px;
  border-radius: 50%;
  box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px #ffffff;
}

.container-body .docMain-body .docCards .row-1 .col .docCard .logoo .fa {
  font-size: 30px;
}

.container-body
  .docMain-body
  .docCards
  .row-1
  .col
  .docCard
  .logoo
  .docContent {
  margin-left: 1em;
}

.container-body .docMain-body .docCards .row-1 .col .docCard .docContent h2 {
  font-size: 30px;
  font-weight: 500;
  margin: 5px 0;
}

.container-body .docMain-body .docCards .row-1 .col .docCard .docContent a {
  font-size: 12px;
  color: #33ccff;
}
/* Row-1 CSS END */

/* CHART-CSS */

.chart {
  position: relative;
  width: 100%;
  height: 240px;
  border-radius: 14px;
  box-shadow: inset 2px 2px 2px #cbced1, inset -2px -2px 2px #cbced1;

  margin-top: 15px;
}

.chart .status {
  position: absolute;
  top: 1.5em;
  left: 1.8em;
}
.chart .status span {
  padding: 6px 15px;
  margin: 0.5em;
  border-radius: 8px;
  box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px #cbced1;
}

.chart ul {
  position: absolute;
  bottom: 2.2em;
  left: 1em;
}

.chart ul li {
  list-style: none;
  padding: 0.5em 0;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
}

.chart .docbox {
  position: relative;
}

.chart .docbox li {
  position: absolute;
  top: 6.25em;
  left: 5em;
  width: 25px;
  height: 110px;
  border-radius: 8px;
  list-style: none;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.chart .docbox li:nth-child(1) {
  left: 7em;
}
.chart .docbox li:nth-child(2) {
  left: 14em;
}
.chart .docbox li:nth-child(3) {
  left: 21em;
}
.chart .docbox li:nth-child(4) {
  left: 28em;
}
.chart .docbox li:nth-child(5) {
  left: 35em;
}
.chart .docbox li:nth-child(6) {
  left: 42em;
}
.chart .docbox li:nth-child(7) {
  left: 49em;
}

.chart .docbox li .doctext {
  position: absolute;
  bottom: -2.5em;
  left: -0.5em;
  width: 80px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: sans-serif;
}

.chart .docbox li .bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #33ccff;
  border-radius: 6px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.chart .docbox li .bar1 {
  animation: bar1 30s linear;
  animation-fill-mode: forwards;
}

@keyframes bar1 {
  0% {
    height: 0;
  }
  25% {
    height: 10%;
  }
  50% {
    height: 15%;
  }
  75% {
    height: 60%;
  }
  100% {
    height: 40%;
  }
}

.chart .docbox li .bar2 {
  animation: bar2 30s linear;
  animation-fill-mode: forwards;
}

@keyframes bar2 {
  0% {
    height: 80;
  }
  25% {
    height: 20%;
  }
  50% {
    height: 25%;
  }
  75% {
    height: 80%;
  }
  100% {
    height: 60%;
  }
}

.chart .docbox li .bar3 {
  animation: bar3 30s linear;
  animation-fill-mode: forwards;
}

@keyframes bar3 {
  0% {
    height: 40;
  }
  25% {
    height: 10%;
  }
  50% {
    height: 75%;
  }
  75% {
    height: 30%;
  }
  100% {
    height: 25%;
  }
}

.chart .docbox li .bar4 {
  animation: bar4 30s linear;
  animation-fill-mode: forwards;
}

@keyframes bar4 {
  0% {
    height: 100;
  }
  25% {
    height: 90%;
  }
  50% {
    height: 75%;
  }
  75% {
    height: 10%;
  }
  100% {
    height: 55%;
  }
}

.chart .docbox li .bar5 {
  animation: bar5 30s linear;
  animation-fill-mode: forwards;
}

@keyframes bar5 {
  0% {
    height: 0%;
  }
  25% {
    height: 10%;
  }
  50% {
    height: 15%;
  }
  75% {
    height: 50%;
  }
  100% {
    height: 80%;
  }
}

.chart .docbox li .bar6 {
  animation: bar6 30s linear;
  animation-fill-mode: forwards;
}

@keyframes bar6 {
  0% {
    height: 60%;
  }
  25% {
    height: 55%;
  }
  50% {
    height: 45%;
  }
  75% {
    height: 20%;
  }
  100% {
    height: 45%;
  }
}

.chart .docbox li .bar7 {
  animation: bar7 30s linear;
  animation-fill-mode: forwards;
}

@keyframes bar7 {
  0% {
    height: 80;
  }
  25% {
    height: 50%;
  }
  50% {
    height: 35%;
  }
  75% {
    height: 70%;
  }
  100% {
    height: 30%;
  }
}

/* CHART CSS END  */

/* ROW-3 CSS */
.container-body .docMain-body .docCards .row-3 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
}

.container-body .docMain-body .docCards .row-3 .col {
  height: 80px;
  transition: 1s;
  box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px #cbced1;

  margin-top: 15px;
}

.container-body .docMain-body .docCards .row-3 .col:hover {
  height: 80px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.container-body .docMain-body .docCards .row-3 .col .docCard .logoo {
  padding: 20px 25px;
}

.container-body .docMain-body .docCards .row-3 .col .docCard .logoo .fa {
  font-size: 28px;
}

.container-body .docMain-body .docCards .row-3 .col .docCard .docContent h1 {
  font-size: 18px;
  font-weight: 500;
}

/* ROW-3 CSS END */

.container-body .docSidebar ul li {
  padding: 10px 10px;
  margin: 5px 0;
}

.container-body .docSidebar ul li a {
  color: rgb(139, 29, 29);
  text-transform: capitalize;
  font-weight: 700;
}

.container-body .docSidebar ul li .fa {
  font-size: 18px;
  padding: 0 5px;
}

.container-body .docSidebar ul .doctorDropdown a {
  margin: 5px 0;
  text-transform: capitalize;
  color: #000;
  padding: 8px;
  padding-left: 40px;
}

.container-body .docSidebar ul .doctorDropdown .dash {
  box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px #cbced1;
  border-radius: 14px;
}

.container-body .docSidebar ul .dashboard {
  background: #00004d;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
}
.container-body .docSidebar ul .dashboard a {
  color: #fff;
}
.container-body .docSidebar ul .notification span {
  font-size: 12px;
  background: #33ccff;
  color: #fff;
  padding: 3px 12px;
  font-weight: 700;
  border-radius: 14px;
}

.container-body .docSidebar ul .docProfile {
  position: relative;
  top: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px #cbced1;
  border-radius: 12px;
}

.container-body .docSidebar ul .docProfile img {
  border-radius: 50%;
}

.container-body .docSidebar ul .docProfile .doctorName {
  margin: 3px 0;
  text-transform: capitalize;
  font-weight: 700;
}

.container-body .docSidebar ul .docProfile .docUsername {
  color: #490bf5;
  margin: 2px 0;
}

.container-body .docSidebar ul .docProfile a {
  margin: 5px 0;
  text-transform: capitalize;
  color: #000;
}

.container-body .docMain-body .docTittle {
  padding: 15px;
  margin: 0 20px;
}

.container-body .docMain-body .docTittle .greet {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
}

.container-body .docMain-body .docTittle h2 {
  font-size: 25px;
  font-weight: normal;
}

.departtt {
  border: none;
}

.selectt {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  height: 45px;
  font-weight: 500;
  padding-left: 15px;
  border-radius: 1px;
  margin-bottom: 5px;
  outline: none;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.selectt:focus,
.selectt:valid {
  border-color: (--text-grey);
}

.selectt {
  display: flex;

  flex-direction: row;
  margin-bottom: 15px;
  width: 28%;
}

.selectt .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.selectt .details .wawa {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.wawa .card-text {
  display: flex;
  flex-direction: row;
}

.cards {
  /* display: grid;
    grid-template-columns: repeat(1,23px);
    grid-column-gap: 3rem;
    margin-left: 0;
    padding: 20px;
   background:linear-gradient(135deg, #89CFF0, #fff); */

  display: flex;
  gap: 150px;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  width: 100px;
  /* height: 100px; */
}

/* All Doctor Cards */

.bodyy {
  background-color: #fff;
}
.bodyy::-webkit-scrollbar {
  display: none;
}
.mainn {
  display: flex;
  margin-left: 200px;
  margin-top: 50px;
}
@media only screen and (max-width: 900px) {
  .mainn {
    flex-direction: column;
    margin: 30px;
  }
}
.cardd {
  width: 90%;
  height: 500px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(242, 245, 248, 1) 35%,
    rgba(236, 236, 237, 1) 100%
  );
  box-shadow: 0 13px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 30px 20px 20px 10px;
  transition: background-color 0.5s, box-shadow 0.5s, margin-left 0.5s;
}
.cardd:hover {
  background-color: #ffff;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s, box-shadow 0.5s, margin-left 0.5s;
}
.post-image {
  width: 92%;
  height: 220px;
  margin: 15px;
  border-radius: 10px 10px 10px;
  float: left;
}
.post-content {
  width: 90%;
  height: 250px;
  float: left;
  margin-left: 10px;
  overflow: hidden;
}
.yaya {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #000;
  text-decoration: none;
}
.post-header {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  color: #000000;
  margin-left: 5px;
  text-align: center;
}
.post-text {
  font-size: 15px;
  padding-left: 20px;
  color: #000;
  font-family: "Roboto", sans-serif;
}
.author {
  width: 95%;
  height: 60px;
  background-color: #12192c;
  margin-left: 20px;
  margin-top: 5px;
  color: #fff;
  border-radius: 15px;
}
.author-content {
  width: 60%;
  height: 60px;
  margin-left: 10px;
  float: left;
  color: #fff;
}

.author-name {
  font-size: 20px;
  color: rgb(8, 8, 8);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 10px;
}
.datee {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  margin-top: -15px;
  padding-left: 10px;
}

/* New Header */

/* @font-face {
    font-family: AstroSpace;
    src: url(/fonts/AstroSpace.ttf);
  } */
.bodyyy {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #212c3b;
}

.headerr {
  background-color: #141b25;
}

.main-nav {
  height: 90px;
}

.loggo {
  color: white;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}
.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}
.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  text-transform: uppercase;
}
.navlinks li a:hover {
  color: #7ebcb9;
  padding-bottom: 7px;
  border-bottom: 2px solid #7ebcb9;
}
li a.contact {
  background-color: #00adb5;
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  border-bottom: none;
}
li a.contact:hover {
  background-color: #047e85;
  color: white;
  border-bottom: none;
}
#check {
  display: none;
}
.menu-btn {
  font-size: 25px;
  color: white;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}
@media (max-width: 800px) {
  .navlinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all 0.5s;
    right: -100%;
    background: #222831;
  }
  .navlinks li {
    display: block;
  }
  .navlinks li a {
    font-size: 20px;
  }
  .navlinks li a:hover {
    border-bottom: none;
  }
  .menu-btn {
    display: block;
  }
  #check:checked ~ .navlinks {
    right: 0;
  }
}
@media (max-width: 360px) {
  .loggo {
    margin-left: 10px;
    font-size: 25px;
  }
  .menu-btn {
    margin-right: 10px;
    font-size: 25px;
  }
  .menu-btn:focus {
    color: blue;
  }
}

/* Add Doctor CSS FORM */

.boddy {
  margin: 0;
  padding: 0;
  /* margin-bottom: 900px; */
  font-family: "Roboto Slab", serif;
}
div#envelope {
  width: 55%;
  margin: 10px 30% 300px 25%;
  padding: 10px 0;
  border: 2px solid var(--main-colorr);
  border-radius: 10px;
  /* margin-bottom: 300px; */
}
.formm {
  width: 70%;
  margin: 4% 15%;
}
.headder {
  background-color: var(--main-colorr);
  text-align: center;
  padding-top: 12px;
  padding-bottom: 8px;
  margin-top: -11px;
  margin-bottom: 5px;
  border-radius: 10px 10px 0 0;
  color: aliceblue;
}

/* Makes responsive fields. Sets size and field alignment.*/
.innput[type="text"] {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--text-greyy);
  color: #000;
}
select {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--text-greyy);
}

input[type="submit"] {
  margin-bottom: 20px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #7ac9b7;
  background-color: #4180c5;
  color: aliceblue;
  font-size: 15px;
  cursor: pointer;
}
#submit:hover {
  background-color: #fff;
  color: #000;
}
textarea {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: 1px solid #7ac9b7;
  border-radius: 5px;
  margin-bottom: 20px;
  resize: none;
}
.innput[type="text"]:focus,
textarea:focus {
  border-color: #4697e4;
}
div#envelope {
  width: 80%;
  margin: 10px 30% 10px 11%;
}

label {
  font-size: 18px;
  color: #000;
}
input[type="submit"] {
  padding: 5px;
}
.innput[type="text"] {
  padding: 8px;
}
div#envelope {
  width: 80%;
  margin: 10px 30% 10px 11%;
}

input[type="submit"] {
  padding: 4px;
  font-size: 18px;
}
.innput[type="text"] {
  padding: 8px;
}

label {
  font-size: 18px;
}

div#envelope {
  width: 80%;
  margin: 10px 30% 10px 11%;
}

/* Admin Dashboard  */

:root {
  --main-colorr: #6c03f5;
  --color-darkk: #1d2231;
  --text-greyy: #8290a2;
}

.padding {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.adminsidebar {
  width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--main-colorr);
}

.adminsidebar-brand {
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}
.adminsidebar-brand span {
  display: inline-block;
  padding-right: 1rem;
}

.adminsidebar-menu {
  margin-top: rem;
}
.adminsidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: rem;
  font-size: 15px;
  padding: 0px;
}
.adminsidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: #fff;
}
.adminsidebar-menu a.active {
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-colorr);
  border-radius: 30px 0px 0px 30px;
  width: 84%;
}
.adminsidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}

#nav-toggle:checked + .adminsidebar {
  width: 70px;
}

#nav-toggle:checked + .adminsidebar .adminsidebar-brand,
#nav-toggle:checked + .adminsidebar .adminsidebar-menu {
  padding-left: 1rem;
}

#nav-toggle:checked + .adminsidebar.adminsidebar-brand h2 span:last-child,
#nav-toggle:checked + .adminsidebar li a span:last-child {
  display: none;
}

.adminmain-content {
  margin-left: 345px;
}

.hheader {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 345px;
  width: calc(100% - 345px);
  top: 0;
  z-index: 100;
}

#nav-toggle {
  display: none;
}

.hheader h2 {
  color: #222;
}

.hheader label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}

.adminsearch-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  align-items: center;
  overflow-x: hidden;
}
.adminsearch-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}
.adminsearch-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.user-wrapper {
  display: flex;
  align-items: center;
}
.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}
.user-wrapper small {
  display: inline-block;
  color: var(--text-greyy);
  margin-top: -10px !important;
}
.mmain {
  margin-top: 70px;
  padding: 2rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
}
.admincards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.admincard-single {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  /* border: 1px solid black; */
}
.admincard-single h1 {
  color: #000;
}
.admincard-single .h11 {
  font-size: 3rem;
  color: var(--main-colorr);
}
.admincard-single div:first-child {
  color: var(--text-greyy);
}

.admincard-single:last-child {
  background: #fff;
}

/* .admincard-single:last-child span {
  color: #fff;
}
.admincard-single:last-child h1 {
  color: #fff;
} */

.recent-grid {
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 70% auto;
}
.admincard {
  background: #fff;
  border-radius: 5px;
}

.admincard-header,
.admincard-body {
  padding: 1rem;
}

.admincard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.admincard-header button {
  background: var(--main-colorr);
  border-radius: 10px;
  color: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-colorr);
  padding: 0.5rem 1rem;
}

/* 
table{
  border-collapse: collapse;

}
thead tr{
  border: 1px solid #751c1c;
  border-bottom: 2px solid #f0f0f0;
  
}

thead td {
  font-weight: 700;
}

 td {
  padding: .5rem 0rem;
  /* font-size: .9rem; */
/* color: #000;
}
td .status{
  display: inline-block;
  height: 20px ;
  width: 20px;
  border-radius: 50%;
 margin-right: 1rem;
  
} */

/* .status .purple{
background: purple;

}
tr td:last-child {
  display: flex;
  align-items: center;

} */

/* .table-responsive{
  width: 100%;
  overflow-x:auto ;

} */
*/ .admincustomer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.adminInfo {
  display: flex;
  align-items: center;
}

.adminInfo img {
  border-radius: 50%;
  margin-right: 1rem;
}
.adminInfo h4 {
  font-weight: 700;
  color: #444;
}
.adminInfo small {
  font-weight: 600;
  color: var(--text-greyy);
}

.admincontact span {
  font-size: 1.9rem;
  display: inline-block;
  margin-left: 0.5rem;
  color: var(--main-colorr);
}
/* All Hospitals Table */

Table {
  color: #000;
  /* margin: 200px 600px 0 345px; */
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none;
}
Th,
td {
  text-align: center;
  padding: 16px;
}

Tr:nth-child(even) {
  background-color: #f2f2f2;
}

.center {
  /* margin-right: 345px; */
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 150px; */
}

/* new design table */
.table_responsive {
  max-width: 900px;
  border: 1px solid #0e00d4;
  background-color: #efefef33;
  padding: 15px;
  overflow: auto;
  margin: auto;
  border-radius: 4px;
  margin-top: 60px;
  margin-left: 360px;
}

table {
  width: 100%;
  font-size: 13px;
  color: #444;
  white-space: nowrap;
  border-collapse: collapse;
}

table > thead {
  background-color: #0015d4;
  color: #fff;
}

table > thead th {
  padding: 15px;
}

table th,
table td {
  border: 1px solid #00000017;
  padding: 10px 15px;
}

table > tbody > tr > td > img {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}

.action_btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action_btn > a {
  text-decoration: none;
  color: #444;
  background: #fff;
  border: 1px solid;
  display: inline-block;
  padding: 7px 20px;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.action_btn > a:nth-child(1) {
  border-color: #26a69a;
}

.action_btn > a:nth-child(2) {
  border-color: orange;
}

.action_btn > a:hover {
  box-shadow: 0 3px 8px #0003;
}

table > tbody > tr {
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

table > tbody > tr:nth-child(even) {
  background-color: rgb(238, 238, 238);
}

table > tbody > tr:hover {
  filter: drop-shadow(0px 2px 6px #0002);
}

.tbl-heading {
  margin-left: 500px;
  font-size: 50px;
  color: #000;
  font-family: "Times New Roman", Times, serif;
  margin-top: 30px;
}

.edit-hospital {
  margin-left: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.edit-heading {
  margin-left: 180px;
  font-size: 60px;
  color: #000;
  font-family: "Times New Roman", Times, serif;
}
.edit-input {
  width: 60%;
  height: 27px;
  margin-left: 190px;
  margin-bottom: 10px;
  padding: 16px;
}
.edit-inputt {
  margin-left: 130px;
}
.edit-input-btn {
  margin-left: 120px;
  padding: 10px;
}

/* FILTER Area */
